<p>content2 works!</p>
<div>
    <h2>客戶資料</h2>
    <div>
        <label>國家：</label>
        <select  #selCountry (change)="onchange(selCountry.value)">
 
            <!-- <option value="All">所有</option>
            <option value="USA">美國</option>
            <option value="Japan">日本</option>
            <option value="UK">英國</option> -->
            @for (c of countries; track $index) {
                <option >{{c}}</option>
            }
        </select>
    </div>

<div>

    @switch (country) {
        @case ('All') {
        所有
        }
        @case ('USA') {
        美國
        }
        @case ('Japan') {
        日本
        }
        @case ('UK') {
        英國
        }    
        @default {
        未開發
        }
    }
    的客戶資料如下：
    <ul>
        <!-- {{ member.length }} -->
        <!-- @for (item of member; track $index) {
            <li>{{item.name}} - {{item.age}} - {{item.country}} </li>
        }
        @empty {
            <li>沒有資料</li>    
        } -->
        @for (item of member; track item; ) {
            @if ($first) {
            <li style="background-color: bisque;">{{$index+1}}: {{item.name}} - {{item.age}} - {{item.country}} </li>
            }
            @else if ($odd) {
            <li style="background-color:burlywood; ">{{$index+1}}: {{item.name}} - {{item.age}} - {{item.country}} </li>
            }@else {
            <li>{{$index+1}}: {{item.name}} - {{item.age}} - {{item.country}} </li>
            }
            @if ($last) {
                <li style="background-color: gray; color:white">[總共筆數: {{$count}}]</li>
            }
        }@empty {
        <li>沒有資料</li>
        }
    
    </ul>
</div>
